@{
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}
@model IEnumerable<Auction.Models.ItemCategoryModel>

<center><h1>Item categories</h1></center>
<p>
    @Html.ActionLink("Create New", "Create", "ItemCategory", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td class="tbl-keys" align="right">
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
        </td>
    </tr>
}

</table>
