@model Auction.Models.TradingProgressModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h3>TradingProgressModel</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Deal_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.Deal_Id,
                    new SelectList(Model.Deals, "Id", "Info", Model.Deal_Id),
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Deal_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Buyer_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(
                    model => model.Buyer_Id,
                    new SelectList(Model.Buyers, "Id", "FullName", Model.Buyer_Id),
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Buyer_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StepTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StepTime, new { htmlAttributes = new { @class = "form-control", @Value = Model.StepTime.ToString("HH:mm") } })
                @Html.ValidationMessageFor(model => model.StepTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StepRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StepRate, new { htmlAttributes = new { @class = "form-control", @Value = Model.StepRate, @Type = "Number", @Min = 0, @Step = "any" } })
                @Html.ValidationMessageFor(model => model.StepRate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-dark" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
